* {
    margin: 5px;
    color: rgb(131, 3, 3);
}

@font-face {
    font-family:'ssf4';
    src: url(src/fontes/SSF4_ABUKET.woff);
}
@font-face {
    font-family:'command';
    src: url(src/fontes/PILOT_COMMAND.otf);
}